{% if page.author_profile or layout.author_profile or page.sidebar %}
<div class="sidebar sticky">
  {% if page.author_profile or layout.author_profile %}{% include author-profile.html %}{% endif %}
  {% if page.sidebar %}
  {% for s in page.sidebar %}
  {% if s.image %}
  <img src="{{ s.image }}" alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}">
  {% endif %}
  {% if s.title %}<h3>{{ s.title }}</h3>{% endif %}
  {% if s.text %}{{ s.text | markdownify }}{% endif %}
  {% endfor %}
  {% endif %}
  <div style="margin-top: 20px;">
    <script type="text/javascript" id="mmvst_globe"
      src="//mapmyvisitors.com/globe.js?d=zuVh9TV7IFtnDp0vBZs0uE-8qlXPdzCfbHPtcFm82Do"></script>
  </div>
</div>
{% endif %}